<div class="left_bar">
    <div class="site_brand">
        <a class="vert_menu_link" href="/">TG Parser</a>
    </div>
    <ul class="vert_menu">
        <li class="vert_menu_item">
            <a class="vert_menu_link {% if menu == 1 %}menu_current{% endif %}" href="/user/">TG-users</a>
        </li>
        <li class="vert_menu_item">
            <a class="vert_menu_link {% if menu == 2 %}menu_current{% endif %}" href="/group/">TG-groups</a>
        </li>
        <li class="vert_menu_item">
            <a class="vert_menu_link {% if menu == 3 %}menu_current{% endif %}" href="/task/">Tasks</a>
        </li>
        <li class="vert_menu_item">
            <a class="vert_menu_link {% if menu == 4 %}menu_current{% endif %}" href="/log/">Logs</a>
        </li>
        <li class="vert_menu_item">
            <a class="vert_menu_link" href="/admin/" target="_blank">Admin Panel</a>
        </li>
    </ul>
</div>